<launch>
	<group ns="audio">
		<node name="chatbot_mic" pkg="capture_vad_speex" type="capture_vad_speex" output="screen">
			<param name="bitrate" value="0"/>
			<remap from="audio" to="mic_input_stream"/>
  		</node>
	</group>
	
	<group ns="audio">
		<node name="chatbot_speaker" pkg="play_audio_speex" type="play_audio_speex" output="screen">
			<param name="dst" value="alsasink"/>
			<remap from="audio" to="mic_input_stream"/>
		</node>
	</group>

</launch>
