<launch>
    <env name="GST_PLUGIN_PATH" value="$(find speech_recognition_simple)/../../deps" />
	<group ns="recognition">
		<node name="speech_recognition_simple" pkg="speech_recognition_simple" type="speech_recognition_simple" output="screen">
			<param name="model_dir" value="$(find speech_recognition_simple)/../../deps" />
		</node>
	</group>

</launch>
